## Salary Regression

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [12]:
data = pd.read_csv("/Users/snehabarve/MY_PROJECTS/churn_prediction/Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [13]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [14]:
# Encode categorical variables
le_gender = LabelEncoder()
data['Gender'] = le_gender.fit_transform(data['Gender'])

In [15]:
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [16]:
# One-hot encode 'Geography'
ohe_geog = OneHotEncoder(handle_unknown='ignore')
geo_encoded = ohe_geog.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=ohe_geog.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [17]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [18]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary'] 

## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [19]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [20]:
# Save the encoders and scaler
with open('lle_gender.pkl','wb') as file:
    pickle.dump(le_gender,file)

with open('ohe_geog.pkl','wb') as file:
    pickle.dump(ohe_geog,file) 

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN

In [21]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [22]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [23]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [24]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [25]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 100367.2109 - mae: 100367.2109 - val_loss: 98475.2188 - val_mae: 98475.2188
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 99475.8594 - mae: 99475.8594 - val_loss: 96677.8594 - val_mae: 96677.8594
Epoch 3/100
250/250 [==============================] - 0s 870us/step - loss: 96355.7188 - mae: 96355.7188 - val_loss: 92113.7422 - val_mae: 92113.7422
Epoch 4/100
250/250 [==============================] - 0s 807us/step - loss: 90303.1719 - mae: 90303.1719 - val_loss: 84688.9219 - val_mae: 84688.9219
Epoch 5/100
250/250 [==============================] - 0s 845us/step - loss: 81623.0000 - mae: 81623.0000 - val_loss: 75356.4062 - val_mae: 75356.4062
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 71894.5547 - mae: 71894.5547 - val_loss: 66242.6406 - val_mae: 66242.6406
Epoch 7/100
250/250 [==============================] - 0s 871us/step - loss: 63074.9766 - mae: 63074.9766 - val_loss: 58811.3320 - val_mae: 58811.3320
Epoch 8/100
250/250 [==============================] - 0s 776us/step - loss: 56588.0234 - mae: 56588.0234 - val_loss: 54140.0234 - val_mae: 54140.0234
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 52872.3984 - mae: 52872.3984 - val_loss: 51886.0039 - val_mae: 51886.0039
Epoch 10/100
250/250 [==============================] - 0s 962us/step - loss: 51183.1914 - mae: 51183.1914 - val_loss: 51068.1094 - val_mae: 51068.1094
Epoch 11/100
250/250 [==============================] - 0s 815us/step - loss: 50542.6758 - mae: 50542.6758 - val_loss: 50824.8828 - val_mae: 50824.8828
Epoch 12/100
250/250 [==============================] - 0s 795us/step - loss: 50300.2812 - mae: 50300.2812 - val_loss: 50732.9961 - val_mae: 50732.9961
Epoch 13/100
250/250 [==============================] - 0s 790us/step - loss: 50172.8984 - mae: 50172.8984 - val_loss: 50679.4102 - val_mae: 50679.4102
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50100.6289 - mae: 50100.6289 - val_loss: 50638.1992 - val_mae: 50638.1992
Epoch 15/100
250/250 [==============================] - 0s 816us/step - loss: 50047.4766 - mae: 50047.4766 - val_loss: 50608.6211 - val_mae: 50608.6211
Epoch 16/100
250/250 [==============================] - 0s 794us/step - loss: 50000.5547 - mae: 50000.5547 - val_loss: 50570.2617 - val_mae: 50570.2617
Epoch 17/100
250/250 [==============================] - 0s 801us/step - loss: 49960.0391 - mae: 49960.0391 - val_loss: 50544.2070 - val_mae: 50544.2070
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 49924.0430 - mae: 49924.0430 - val_loss: 50513.4453 - val_mae: 50513.4453
Epoch 19/100
250/250 [==============================] - 0s 802us/step - loss: 49893.7422 - mae: 49893.7422 - val_loss: 50495.5859 - val_mae: 50495.5859
Epoch 20/100
250/250 [==============================] - 0s 859us/step - loss: 49862.9766 - mae: 49862.9766 - val_loss: 50467.6836 - val_mae: 50467.6836
Epoch 21/100
250/250 [==============================] - 0s 785us/step - loss: 49838.2422 - mae: 49838.2422 - val_loss: 50455.1250 - val_mae: 50455.1250
Epoch 22/100
250/250 [==============================] - 0s 804us/step - loss: 49809.5703 - mae: 49809.5703 - val_loss: 50446.5391 - val_mae: 50446.5391
Epoch 23/100
250/250 [==============================] - 0s 803us/step - loss: 49787.0352 - mae: 49787.0352 - val_loss: 50424.3906 - val_mae: 50424.3906
Epoch 24/100
250/250 [==============================] - 0s 855us/step - loss: 49767.5859 - mae: 49767.5859 - val_loss: 50414.5508 - val_mae: 50414.5508
Epoch 25/100
250/250 [==============================] - 0s 791us/step - loss: 49745.6328 - mae: 49745.6328 - val_loss: 50400.3398 - val_mae: 50400.3398
Epoch 26/100
250/250 [==============================] - 0s 816us/step - loss: 49726.9570 - mae: 49726.9570 - val_loss: 50380.9883 - val_mae: 50380.9883
Epoch 27/100
250/250 [==============================] - 0s 833us/step - loss: 49709.2539 - mae: 49709.2539 - val_loss: 50373.0234 - val_mae: 50373.0234
Epoch 28/100
250/250 [==============================] - 0s 795us/step - loss: 49690.8789 - mae: 49690.8789 - val_loss: 50362.9688 - val_mae: 50362.9688
Epoch 29/100
250/250 [==============================] - 0s 874us/step - loss: 49674.8516 - mae: 49674.8516 - val_loss: 50351.3594 - val_mae: 50351.3594
Epoch 30/100
250/250 [==============================] - 0s 784us/step - loss: 49662.8594 - mae: 49662.8594 - val_loss: 50335.5625 - val_mae: 50335.5625
Epoch 31/100
250/250 [==============================] - 0s 801us/step - loss: 49650.3086 - mae: 49650.3086 - val_loss: 50334.1406 - val_mae: 50334.1406
Epoch 32/100
250/250 [==============================] - 0s 794us/step - loss: 49635.8672 - mae: 49635.8672 - val_loss: 50330.5859 - val_mae: 50330.5859
Epoch 33/100
250/250 [==============================] - 0s 797us/step - loss: 49621.8359 - mae: 49621.8359 - val_loss: 50333.7070 - val_mae: 50333.7070
Epoch 34/100
250/250 [==============================] - 0s 783us/step - loss: 49613.6914 - mae: 49613.6914 - val_loss: 50335.0039 - val_mae: 50335.0039
Epoch 35/100
250/250 [==============================] - 0s 801us/step - loss: 49603.4688 - mae: 49603.4688 - val_loss: 50325.0859 - val_mae: 50325.0859
Epoch 36/100
250/250 [==============================] - 0s 784us/step - loss: 49587.8711 - mae: 49587.8711 - val_loss: 50333.2031 - val_mae: 50333.2031
Epoch 37/100
250/250 [==============================] - 0s 818us/step - loss: 49584.5039 - mae: 49584.5039 - val_loss: 50313.6133 - val_mae: 50313.6133
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 49566.3711 - mae: 49566.3711 - val_loss: 50317.3828 - val_mae: 50317.3828
Epoch 39/100
250/250 [==============================] - 0s 792us/step - loss: 49561.3398 - mae: 49561.3398 - val_loss: 50304.3906 - val_mae: 50304.3906
Epoch 40/100
250/250 [==============================] - 0s 761us/step - loss: 49552.6250 - mae: 49552.6250 - val_loss: 50315.1836 - val_mae: 50315.1836
Epoch 41/100
250/250 [==============================] - 0s 823us/step - loss: 49543.6406 - mae: 49543.6406 - val_loss: 50313.5977 - val_mae: 50313.5977
Epoch 42/100
250/250 [==============================] - 0s 790us/step - loss: 49535.7852 - mae: 49535.7852 - val_loss: 50300.2539 - val_mae: 50300.2539
Epoch 43/100
250/250 [==============================] - 0s 780us/step - loss: 49526.8047 - mae: 49526.8047 - val_loss: 50286.1445 - val_mae: 50286.1445
Epoch 44/100
250/250 [==============================] - 0s 775us/step - loss: 49522.4258 - mae: 49522.4258 - val_loss: 50297.1875 - val_mae: 50297.1875
Epoch 45/100
250/250 [==============================] - 0s 765us/step - loss: 49511.3594 - mae: 49511.3594 - val_loss: 50301.8984 - val_mae: 50301.8984
Epoch 46/100
250/250 [==============================] - 0s 782us/step - loss: 49501.1250 - mae: 49501.1250 - val_loss: 50294.5273 - val_mae: 50294.5273
Epoch 47/100
250/250 [==============================] - 0s 787us/step - loss: 49496.6133 - mae: 49496.6133 - val_loss: 50298.6484 - val_mae: 50298.6484
Epoch 48/100
250/250 [==============================] - 0s 776us/step - loss: 49489.3750 - mae: 49489.3750 - val_loss: 50303.9492 - val_mae: 50303.9492
Epoch 49/100
250/250 [==============================] - 0s 748us/step - loss: 49482.6992 - mae: 49482.6992 - val_loss: 50302.5898 - val_mae: 50302.5898
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 49474.6367 - mae: 49474.6367 - val_loss: 50289.0117 - val_mae: 50289.0117
Epoch 51/100
250/250 [==============================] - 0s 806us/step - loss: 49468.6016 - mae: 49468.6016 - val_loss: 50294.2422 - val_mae: 50294.2422
Epoch 52/100
250/250 [==============================] - 0s 789us/step - loss: 49462.2109 - mae: 49462.2109 - val_loss: 50291.8867 - val_mae: 50291.8867
Epoch 53/100
250/250 [==============================] - 0s 827us/step - loss: 49460.1562 - mae: 49460.1562 - val_loss: 50286.7344 - val_mae: 50286.7344

In [26]:
%load_ext tensorboard

In [28]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 80264), started 0:01:49 ago. (Use '!kill 80264' to kill it.)

In [29]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 421us/step - loss: 50286.1445 - mae: 50286.1445
Test MAE : 50286.14453125

In [30]:
model.save('regression_model.h5')

/Users/snehabarve/MY_PROJECTS/churn_prediction/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(